name: CI

on:
  push:
    branches:
      - main
  pull_request_target:
    branches:
      - main

jobs:
  test:
    name: Test setup-bin
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1
      - name: Run setup-bin go package
        id: setup-bin-go
        uses: ./
        with:
          token: ${{ secrets.PAT_TOKEN }}
          repository-owner: tj-actions
          repository: auto-doc
          language-type: go
      - name: Show output
        run: |
          echo "setup-bin-go: ${{ steps.setup-bin-go.outputs.binary_path }}"
      - name: Run setup-bin rust package
        id: setup-bin-rust
        uses: ./
        with:
          token: ${{ secrets.PAT_TOKEN }}
          repository-owner: tj-actions
          repository: json2file
          language-type: rust
      - name: Show output
        run: |
          echo "setup-bin-rust: ${{ steps.setup-bin-rust.outputs.binary_path }}"
