name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test setup-bin
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1
      - name: Run setup-bin go package
        id: setup-bin-go
        uses: ./
        with:
          token: ${{ secrets.PAT_TOKEN }}
          repository_owner: tj-actions
          repository: auto-doc
          version: latest
          language-type: go
      - name: Show output
        run: |
          echo "setup-bin-go: ${{ steps.setup-bin-go.outputs.binary_path }}"
      - name: Run setup-bin rust package
        id: setup-bin-rust
        uses: ./
        with:
          token: ${{ secrets.PAT_TOKEN }}
          repository_owner: tj-actions
          repository: json2file
          version: latest
          language-type: rust
